language: node_js

node_js:
  - "6"
  - "7"
  - "8"

env:
  - CXX=g++-4.8

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8

node_js:
  - "4"
  - "6"
  - "8"

script: "npm run-script travis"
